<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="assets/css/home-style.css">
    <link rel="stylesheet" href="assets/css/bootstrap4.min.css">
    <script src="assets/js/jquery.3.2.1.min.js"></script>

    <title>View Case</title>

    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        .listRight {
            left: auto !important;
            right: 0 !important;
        }
        .home-banner {
            background: url('img/court2.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-top: 150px;
            padding-bottom: 150px;
        }
        .header {
          text-align: center; 
        }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="dashboard">SALINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- <div class="collapse navbar-collapse" id="navbarText"> -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard"><i class="fa fa-square"></i>&nbsp; Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="archives"> All Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""> Supreme Court</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""> Court of Appeal</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      High Court
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Employment & Labour Relations Court</a>
                      <a class="dropdown-item" href="#">Environment & Land Court</a>
                      <a class="dropdown-item" href="#">Family Division Court</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Magistrate Court
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Chief Magistrate Court</a>
                      <a class="dropdown-item" href="#">Senior Principal Magistrate Court</a>
                      <a class="dropdown-item" href="#">Principal Magistrate Court</a>
                      <a class="dropdown-item" href="#">Senior Resident Magistrate Court</a>
                      <a class="dropdown-item" href="#">Resident Magistrate Court</a>
                      <a class="dropdown-item" href="#">District Magistrate Court</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href=""> Court Martial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""> Kadhi's Court</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="mycases"><i class="fa fa-file"></i>&nbsp; My Cases</a>
                </li>
                &nbsp;
                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                    <div class="dropdown-menu listRight" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">profile</a>
                      <hr>
                      <a class="dropdown-item" href="/">Log out</a>
                    </div>
                </li>
            </ul>
          <!-- </div> -->
        </div>
    </nav>

    <br>
    <div class="container-fluid">

      <div style="text-align: right;">
        <input type="submit" class="btn btn-success" value="Listen to Audio">
      </div>
      <br>

      <div class="container" style="padding: 10px; background-color: rgb(224, 219, 219);">
        <span>Criminal Case No.12 of 2020</span>

        <div class="header">
          <img src="assets/img/case-logo.png" width="200" style="border-radius: 50%;"><br><br>
          <h4>The Republic of Kenya</h4>
          <h4>In The High Court of Kenya at Nyeri</h4>
          <h4> By Judge <b>John Doe</b> </h4>
          <h4> Case:Shell Oil Theft </h4>
          <h4>Prosecutor: <b> Patel's Shell Oil Company</b></h4>
          <h4>Accused: <b>Lorem Ipsum</b></h4>
        </div>

        <span><b>Friday 02/02/2020</b></span>     <span style="float: right;"><b>02:00 PM</b></span>  <br><br>

        <h3><u>RE: THEFT OF 200K LITRES OF OIL STOLEN FROM PATEL'S SHELL OIL COMPANY</u></h3>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia laboriosam repudiandae, fugiat eius suscipit hic ut labore doloribus magni assumenda tempora beatae saepe quaerat dolore. Eaque deserunt ipsum sed odit!          
        </p>

        <div style="text-align: right;">
          <div style=" display: inline-flex;">
            <h5>Signature</h5>: {digital signature}
          </div>
        </div>
        
      </div>

    </div>

    <!-- footer -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index">SALINE</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">About us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">Contact us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="homepage">Log Out</a>
            </li>
          </ul>
      </div>
  </nav>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="assets/js/bootstrap4.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>